<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    displayDetailsOnAllIssues="true"
    failOnWarning="true"
    failOnNotice="true"
    failOnDeprecation="true"
>
    <coverage includeUncoveredFiles="true"/>
    <testsuites>
        <testsuite name="laminas-hydrator Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
